<?xml version="1.0" encoding="utf-8"?>

<configuration debug="false">
    <property name="log_home" value="logs" />
    <property name="log_pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId}] [%-5level] [%-5thread] [%logger{20}.%method:%line] - %msg%n" />
    <!-- logback内部状态日志，配置可能有错误时再开启 -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>${log_pattern}</pattern>
        </encoder>
    </appender>

    <!-- 正常日志输出文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log_home}/stdout.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log_home}/stdout.%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log_pattern}</pattern>
        </encoder>
    </appender>

    <!-- 错误日志输出文件 -->
    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log_home}/stderr.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log_home}/stderr.%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log_pattern}</pattern>
        </encoder>
    </appender>

    <!-- 默认jdbc日志输出文件 -->
    <appender name="FILE-JDBC" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log_home}/jdbc.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>${log_pattern}</pattern>
        </encoder>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_home}/jdbc.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.ulisesbocchio.jasyptspringboot" level="off"/>

    <logger name="p6spy" level="info" additivity="false">
        <appender-ref ref="stdout" />
        <appender-ref ref="FILE-JDBC" />
    </logger>
    <logger name="com.tuituidan" level="info" additivity="false">
        <appender-ref ref="stdout" />
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE-ERROR" />
    </logger>
    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE-ERROR" />
    </root>
</configuration>
